@{
   
    Bundles.Reference("Content");
    Bundles.Reference("Scripts/Shared");
    Bundles.Reference("Scripts/View");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
   
     @Bundles.RenderStylesheets()
</head>
<body id="body" class="gridbody">
    @RenderBody()

     @Bundles.RenderScripts()
     <script type="text/javascript" async src="  http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script>
   
</body>
</html>