@{
    //Bundles.Reference("/Scripts/jquery-1.9.min.js");
    //Bundles.Reference("/Scripts/bootstrap.min.js");
    //Bundles.Reference("/Scripts/async.js");
    //Bundles.Reference("/Scripts/three.js");
    //Bundles.Reference("/Scripts/Tools/tools.js");
    //Bundles.Reference("/Scripts/Tools/colorpicker.js");
    //Bundles.Reference("/Scripts/Tools/pointmeasurer.js");
    //Bundles.Reference("/Scripts/Tools/meshpencil.js");
    //Bundles.Reference("/Scripts/Tools/notesmanager.js");
    //Bundles.Reference("/Scripts/threetrackballcontrols.js");
    //Bundles.Reference("/Scripts/binary_reader.js");
    //Bundles.Reference("/Scripts/init3d.js");
    //Bundles.Reference("/Scripts/model_loader.js");
    //Bundles.Reference("/Scripts/jquery.percentageloader-0.1.js");
    //Bundles.Reference("/Scripts/knockout-2.1.0.min.js");
    //Bundles.Reference("/Scripts/storage.js");
    //Bundles.Reference("/Scripts/userlogin.js");
    //Bundles.Reference("/Scripts/viewmodels.js");
    //Bundles.Reference("/Scripts/toastr.js");
    //Bundles.Reference("/Scripts/screenshot.js");
    //Bundles.Reference("/Scripts/startup_mesh.js");
    //Bundles.Reference("/Scripts/Converters/stl_to_mesh.js");
    //Bundles.Reference("/Scripts/Converters/vertex_to_mesh.js");
    //Bundles.Reference("http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js");

    //Bundles.Reference("/Content/Site.css");
    //Bundles.Reference("/Content/bootstrap.min.css");
    //Bundles.Reference("/Content/toastr.css");
    //Bundles.Reference("/Content/bootstrap.min.css");
    //Bundles.Reference("/Content/colorpicker.min.css");

    Bundles.Reference("Content");
    Bundles.Reference("Scripts/View");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
   
     @Bundles.RenderStylesheets()
</head>
<body id="body" class="gridbody">
    @RenderBody()

     @Bundles.RenderScripts()
     <script type="text/javascript" async src="  http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script>
   
</body>
</html>