<!DOCTYPE html>

<html>
<head>
    <title>TestsLayout</title>
      
    <link rel="stylesheet" href="/content/tests/qunit-1.11.0.css"/>
 

    @RenderSection("Javascript", false)


</head>
<body>
     @RenderBody()
    
</body>
</html>
