<!DOCTYPE html>

<html>
<head>
    <title>TestsLayout</title>
      
    <link rel="stylesheet" href="/content/tests/qunit-1.11.0.css"/>
    <script src="@Url.Content("~/Scripts/jquery-1.9.min.js")" type="text/javascript" ></script>
    <script src="/scripts/Tests/qunit-1.11.0.js"></script>

    @RenderSection("Javascript", false)
</head>
<body>
     @RenderBody()
    <div>
        
    </div>
</body>
</html>
