<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="cassette" type="Cassette.CassetteConfigurationSection, Cassette" />
  </configSections>
  
  <nlog>
    <extensions>
      <add assembly="le_nlog" />
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" debug="true" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="logentries" />
    </rules>
  </nlog>
  <cassette
     debug="false"
     rewriteHtml="false"
     allowRemoteDiagnostics="false"
    />
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="aspnet:MaxJsonDeserializerMembers" value="300000000" />-->
    <add key="cookieauthentication.encryptionkey" value="4885912E7B54600782D48FAEC62C85E5084E18CD276C1D39F6472D7E4592232B" />
    <add key="cookieauthentication.encryptioniv" value="71FBD1EC1D11C84474141079A7EAC188" />
    <add key="cookieauthentication.validationkey" value="B7CCC8A0C227294F2937B2A1BF3462D47E7F8CA69E35278CF4BAA7A700D0542EFC684D83456E1DD80A21146AA9DDEE54665137EEFA3D52A78BEB01A7B3FB34CB" />
    <add key="MONGOLAB_URI" value="mongodb://appharbor_0d32066b-72c1-4556-82d6-2c5acc37f134:3vobk2kspsqug20oee9tk992b0@ds049157.mongolab.com:49157/appharbor_0d32066b-72c1-4556-82d6-2c5acc37f134" />
    <add key="LOGENTRIES_TOKEN" value="" />
    <add key="LOGENTRIES_ACCOUNT_KEY" value="" />
    <add key="LOGENTRIES_LOCATION" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>-->
    <authentication mode="None">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Cassette.Views" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="AppHarbor.Web.Security.CookieAuthenticationModule" type="AppHarbor.Web.Security.CookieAuthenticationModule, AppHarbor.Web.Security" />
      <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
    </httpModules>
    <httpHandlers>
      <add path="cassette.axd" verb="*" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="FormsAuthentication" />-->
      <add name="AppHarbor.Web.Security.CookieAuthenticationModule" type="AppHarbor.Web.Security.CookieAuthenticationModule, AppHarbor.Web.Security" preCondition="integratedMode" />
      <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
    </modules>
    <handlers>
      <add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>